---
layout: default
title: 笔记整理
excerpt: true
---
{% for post in paginator.posts %}
  <div class="wrapper">
    <article>
      <h1><a href="{{ post.url }}">{{ post.title }}</a>
      <small class="pull-right">{{ post.date | date:"%b %e, %Y" }}</small></h1>
      {% if post.excerpt %}{{ post.excerpt }}
      {% else %}{{ post.content | only_first_p }}
      {% endif %}
    </article>
    {% if post.excerpt %}<p><a href="{{ post.url }}/#more">阅读全文 →</a></p>
    {% else %}
      {% unless post.tags == empty %}
      <ul class="tag_box inline">{% include setup %}{% include tags_list %}</ul>
      {% endunless %}
    {% endif %}
  </div><!-- wrapper -->
{% endfor %}
