{% include setup %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class=“container”>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}">首页</a></li>
                <li class="dropdown {% if page.url == categories_path %}active{% endif %}" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% include setup %}{% include categories_list %}
                    </ul>
                </li>
                <li {% if page.url == archive_path %}class="active"{% endif %} ><a href="{{ archive_path }}">归档</a></li>
                <li {% if page.url == about_path %}class="active"{% endif %} ><a href="{{ about_path }}">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--Google站内搜索开始-->
                <form method=get action="http://www.google.com/search">
                <input class='form-control col-lg-8' placeholder='搜索' type=text name=q>
                <input type=submit name=btnG value="Google" class="btn btn-primary btn-xs">
                <input type=hidden name=ie value=GB2312>
                <input type=hidden name=oe value=GB2312>
                <input type=hidden name=hl value=zh-CN>
                <input type=hidden name=domains value="addcp.com">
                <input type=hidden name=sitesearch value="addcp.com">
                </form>
                <!--Google站内搜索结束--> 
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
