---
layout: default
title: 分类
group: navigation
---
{% include setup %}
{% include breadcrumb.html %}

{% for category in categories_list %}
<div class="panel panel-success">
    <div class="panel-heading">
    <div class="panel-title" id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</div>
    </div>
    <div class="panel-body">
    {% assign posts_list = category[1] %}
    {% for node in posts_list %}
        <p><a href="{{ node.url }}">{{ node.title }}</a></p>
    {% endfor %}
    </div>
</div>
{% endfor %}
