<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="@xiao_cang" />
        {% if site.description %}<meta name="description" content="{{ site.description }}" />{% endif %}

        <link rel="icon" href="http://xres.oss.aliyuncs.com/img/favicon.ico" mce_href="http://xres.oss.aliyuncs.com/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="http://xres.oss.aliyuncs.com/img/favicon.ico" mce_href="http://xres.oss.aliyuncs.com/img/favicon.ico" type="image/x-icon">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://xres.oss.aliyuncs.com/css/bootstrap.min.css">
        <!-- syntax -->
        <link rel="stylesheet" href="http://xres.oss.aliyuncs.com/css/syntax.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="http://xres.oss.aliyuncs.com/js/html5shiv.js"></script>
            <script src="http://xres.oss.aliyuncs.com/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-md-8">
                    {% include setup %}
                    <!-- top nav bar -->
                    {% include navbar.html %}

                    <!-- content -->
                    {{ content }}

                    <!-- footer -->
                    {% include footer.html %}
                </div>
                <div class="col-sm-1 col-md-2">
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
